<div class="page-header">
  <h1>Movies</h1>
</div>

<p><a href="/movies/new" class="btn btn-primary">Add a New Movie</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Director</th>
      <th>Genre</th>
      <th>Release date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td> <img src="<%= movie.image_url %>" alt="image" height="150"> </td>
        <td><%= movie.name %></td>
        <td><%= movie.director %></td>
        <td><%= movie.genre.genre_name %></td>
        <td><%= movie.release_date %></td>
        <td>
          <a href="/movies/<%= movie.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/movies/<%= movie.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_movie/<%= movie.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

