<!-- Validation failure messages -->

<% if @template.errors.any? %>
  <% @template.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<!-- Simple full-width example -->

<div class="page-header">
  <h1>Edit Template #<%= @template.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_template/<%= @template.id %>" class="form-horizontal">
      <!-- Label and input for source -->
      <div class="form-group">
        <label for="source" class="col-sm-2 control-label">
          Source
        </label>
        <div class="col-sm-10">
          <input type="text" id="source" name="source" placeholder="Source" class="form-control" value="<%= @template.source %>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Update Template" class="btn btn-warning">
          or
          <a href="/templates/<%= @template.id %>">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- End simple full-width example-->

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Template #<%= @template.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_template/<%= @template.id %>" class="form-horizontal">
          <!-- Label and input for source -->
          <div class="form-group">
            <label for="source" class="col-sm-2 control-label">
              Source
            </label>
            <div class="col-sm-10">
              <input type="text" id="source" name="source" placeholder="Source" class="form-control" value="<%= @template.source %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update Template" class="btn btn-warning">
              or
              <a href="/templates/<%= @template.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
