<div class="page-header">
  <h1>Movies</h1>
</div>

<p><a href="/movies/new" class="btn btn-primary">Add a New Movie</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Director</th>
      <th>Genre</th>
      <th>Release date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td> <img src="<%= movie.image_url %>" alt="image" height="150"> </td>
        <td><%= movie.name %></td>
        <td><%= movie.director %></td>
        <td><%= movie.genre.genre_name %></td>
        <td><%= movie.release_date %></td>
        <td>
          <a href="/movies/<%= movie.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/movies/<%= movie.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_movie/<%= movie.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
        <td>
          <form action="/create_user_favorited_movie">
            <input type="hidden" id: "movie_ID" placeholder="movie_ID" name="movie_ID" class="form-control" value="<%= movie.id %>">
            <input type="integer" id: "user_ID" placeholder="user_ID" name="user_ID" class="form-control">

            <input type="submit" name="test" placeholder="test" class="btn btn-primary">
          </form>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Movie Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_favorited_movies.each do |user_favorited_movie| %>
      <tr>
        <td><%= user_favorited_movie.user.username %></td>
        <td><%= user_favorited_movie.movie.name %></td>
        <td>
          <a href="/user_favorited_movies/<%= user_favorited_movie.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/user_favorited_movies/<%= user_favorited_movie.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_user_favorited_movie/<%= user_favorited_movie.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Theater address</th>
      <th>Movie</th>
      <th>Date and time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.user.username %></td>
        <td><%= event.name %></td>
        <td><%= event.theater_address %></td>
        <td><%= event.movie.name %></td>
        <td><%= event.datetime %></td>
        <td>
          <a href="/events/<%= event.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_event/<%= event.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


