<div class="page-header">
  <h1>Movies</h1>
</div>


<p><a href="/movies/new" class="btn btn-primary">Add a New Movie</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Director</th>
      <th>Genre</th>
      <th>Release date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @own_movies.each do |movie| %>
      <tr>
        <td> <img src="<%= movie.image_url %>" alt="image" height="150"> </td>
        <td><%= movie.name %></td>
        <td><%= movie.director %></td>
        <td><%= movie.genre.genre_name %></td>
        <td><%= movie.release_date %></td>
        <td>
          <a href="/movies/<%= movie.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>

        <% if current_user.present? %>
        <td>
          <form action="/create_user_favorited_movie">
            <input type="hidden" id: "movie_ID" placeholder="movie_ID" name="movie_ID" class="form-control" value="<%= movie.id %>">
            <input type="hidden" id: "user_ID" placeholder="user_ID" name="user_ID" class="form-control" value="<%= current_user.id %>">

            <input type="submit" value="Favorite" placeholder="test" class="btn btn-primary">
          </form>
        </td>
        <% else %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.present? %>
<h1>My Favorites</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
       <% if current_user.present? %>
        <%else %>
           <th>Username</th>
        <% end %>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @own_favorited_movies.each do |own_favorited_movie| %>
      <tr>
        <td> <img src="<%= own_favorited_movie.movie.image_url %>" height="150px"> </td>
        <td><%= own_favorited_movie.movie.name %> </td>
        <% if current_user.present? %>
        <%else %>
           <td><%= own_favorited_movie.user.username %></td>
        <% end %>

        <td>
          <a href="/movies/<%= own_favorited_movie.movie_ID %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>

        <td>
          <a href="/delete_user_favorited_movie/<%= own_favorited_movie.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
<% end %>

<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Theater address</th>
      <th>Movie</th>
      <th>Date and time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @own_events.each do |event| %>
      <tr>
        <td><%= event.user.username %></td>
        <td><%= event.name %></td>
        <td><%= event.theater_address %></td>
        <td><%= event.movie.name %></td>
        <td><%= event.datetime %></td>
        <td>
          <a href="/events/<%= event.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_event/<%= event.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> -->


