<style type="text/css">
  form {
    display: inline-block;
  }
</style>

<div class="page-header">


<% if current_user.present? %>
 <h1>Movies</h1>
  <div class="row isotope-container">
    <% @own_movies.each do |movie| %>

    <% @favorite_genres.each do |favoritegenre| %>

    <% if favoritegenre.genre_ID == movie.genre_id %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= movie.name %></h3>
        </div>
        <div class="panel-body">
          <dl>
            <dd><img src="<%= movie.image_url %>" alt="<%= movie.name %>" height="300" </dd>

          </dl>
          <div >

            <!-- <div class="btn-group" role="group"> -->

                <a href="/movies/<%= movie.id %>" class="btn btn-primary">
                  <i class="fa fa-search-plus"></i>
                </a>

                <form action="/create_user_favorited_movie">
                  <input type="hidden" id: "movie_ID" placeholder="movie_ID" name="movie_ID" class="form-control" value="<%= movie.id %>">
                  <input type="hidden" id: "user_ID" placeholder="user_ID" name="user_ID" class="form-control" value="<%= current_user.id %>">
                  <input type="submit" value="Favorite" placeholder="test" class="btn btn-primary">
                </form>


            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>

    <% else %>

    <% end %>
    <% end %>


    <% end %>
  </div>

  <h1>My Favorites</h1>

<div class="row isotope-container">
  <% @own_favorited_movies.each do |myfavorite| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= myfavorite.movie.name %></h3>
      </div>
      <div class="panel-body">
        <dl>
          <dd><img src="<%= myfavorite.movie.image_url %>" alt="<%= myfavorite.movie.name %>" height="300" </dd>

        </dl>
        <div >

          <div class="btn-group btn-group-justified">
            <a href="/movies/<%= myfavorite.movie.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>


            <a href="/delete_user_favorited_movie/<%= myfavorite.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>

        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>
</div>
<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container').isotope({
      itemSelector: '.isotope-item',
      layoutMode: 'masonry',
      filter: function() {
        return qsRegex ? $(this).text().match( qsRegex ) : true;
      }
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>
<% else %>
<h1> Please log in. </h1>
<% end %>
